{% extends "layout.html" %}
{% block title %}Edit Authorized{% endblock %}
{% block content %}
	<br>
	<div class="columns is-desktop is-centered">
		<div class="column is-one-quarter" >
			<h1 class="title" >Authorized Sign up</h1>
		</div>
	</div>
	<div class="columns is-desktop is-centered" >
		<div class="column is-one-quarter" >
			<form action="" method="post" name="authorized_edit" >
				<div class="field" >
					<label for="first_name" class="label" >First Name</label>
					<div class="control" >
						<input type="text" name="first_name" class="input" required="required" placeholder="First Name"
							   value="{{ values['first_name'] }}" />
					</div>
				</div>

				<div class="field" >
					<label for="last_name" class="label" >Last Name</label>
					<div class="control" >
						<input type="text" name="last_name" class="input" required="required" placeholder="Last Name"
							   value="{{ values['last_name'] }}" />
					</div>
				</div>

				<div class="field" >
					<label for="email" class="label" >Email</label>
					<div class="control" >
						<input type="text" name="email" class="input" required="required" placeholder="Email"
							   value="{{ values['email'] }}" />
					</div>
				</div>

				<div class="field" >
					<label for="password" class="label" >Password</label>
					<div class="control" >
						<input type="password" name="password" class="input" required="required" placeholder="Password"
							   value="{{ values['password'] }}" />
					</div>
				</div>

				<div class="field" >
					<label for="s_question" class="label" >What is your favorite color?</label>
					<div class="control" >
						<input type="text" name="s_question" class="input" required="required" placeholder="Favorite Color"
							   value="{{ values['s_question'] }}" />
					</div>
				</div>

				<div class="field" >
					<label for="code" class="label" >Verification Code</label>
					<div class="control" >
						<input type="password" name="code" class="input" required="required" placeholder="Verification Code"
							   value="{{ values['code'] }}" />
					</div>
				</div>

				
				<div class="field is-grouped" >
					<div class="control" >
						<button class="button is-link" >Sign up</button>
					</div>
					<div class="control" >
						<a class="button is-light" href="{{ url_for('home_page')}}">
							Cancel</a>
					</div>
				</div>
			</form>
		</div>
	</div>
{% endblock %}
