{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}
	<br>
	<div class="columns is-desktop is-centered">
		<div class="column is-one-quarter" >
			<h1 class="title">Reported Problems</h1>
		</div>
	</div>
	{% if public_problems %}
		<form action="" method="post" name="problem_list" >
			<br>
			<div class="columns is-desktop is-centered">
				<div class="column is-half" >
					{% for problem_key, problem in public_problems %}
						<div class="box" >
							<article class="media" >
								<div class="media-left" >
									<p></p>
									<figure class="image is-64x64" >
										<img src="{{ url_for('static', filename='megaphone.jpeg') }}" alt="RP">
									</figure>
								</div>
								<div class="media-content" >
									<div class="content" >
										<p>
											<p><strong>{{ problem.title.title() }}</strong><br>
												{{ problem.description.capitalize() }}</p>
											Seen number: {{ problem.n_seen }}
											{% if current_user.is_student %}
												<p>Did you see this problem?  </p>
												<div class="field is-grouped" >
													<div class="control" >
														<a class="button is-link" href="{{ request.paht }}/{{problem_key}}/increase" >
															<strong>Yes</strong></a>
													</div>
												</div>
	{% endif %}
										</p>
									</div>
								</div>
							</article>
						</div>
					{% endfor %}
				</div>
			</div>
		</form>
	{% endif %}
{% endblock %}
