{% extends "layout.html" %}
{% block title %}Change Password{% endblock %}
{% block content %}
	<br>
	<div class="columns is-desktop is-centered">
		<div class="column is-one-quarter" >
			<h1 class="title" >Change Password</h1>
		</div>
	</div>
	<div class="columns is-desktop is-centered" >
		<div class="column is-one-quarter" >
			<form action="" method="post" name="password_change" >
				<div class="field" >
					<label for="old_password" class="label" >Old Password</label>
					<div class="control" >
						<input type="password" name="old_password" class="input" required="required" placeholder="Old password"
							   value="{{ values['old_password'] }}" />
					</div>
				</div>

				<div class="field" >
					<label for="s_question" class="label" >Security Question's Answer</label>
					<div class="control" >
						<input type="text" name="s_question" class="input" required="required" placeholder="Favorite Color"
							   value="{{ values['s_question'] }}" />
					</div>
				</div>

				<div class="field" >
					<label for="new_password" class="label" >New Password</label>
					<div class="control" >
						<input type="password" name="new_password" class="input" required="required" placeholder="New Password"
							   value="{{ values['new_password'] }}" />
					</div>
				</div>

				<div class="field is-grouped" >
					<div class="control" >
						<button class="button is-link" >Change Password</button>
					</div>
					<div class="control" >
						<a class="button is-light" href="{{ url_for('profile_page') }}">
							Cancel</a>
					</div>
				</div>
			</form>
		</div>
	</div>
{% endblock %}
