{% extends "layout.html" %}
{% block title %}Edit Problem{% endblock %}
{% block content %}
	<h1 class="title" >Edit Problem</h1>

	<form action="" method="post" name="problem_edit" >
		<div class="field" >
			<label for="title" class="label" >Title</label>
			<div class="control" >
				<input type="text" name="title" class="input" required="required"
					   value="{{ values['title'] }}" />
			</div>
		</div>

		<div class="field" >
			<label for="description" class="label" >Description</label>
			<div class="control" >
				<input type="text" name="description" class="input" required="required"
					   value="{{ values['description'] }}" />
			</div>
		</div>

		<div class="field" >
			<label for="description" class="label" >Build</label>
			<div class="control" >
				<input type="text" name="build" class="input" required="required"/>
			</div>
		</div>
		
		<div class="field is-grouped" >
			<div class="control" >
				<button class="button is-link" >Save</button>
			</div>
			<div class="control" >
				<a class="button is-light" href="{{ url_for('home_page')}}">
					Cancel</a>
			</div>
		</div>
	</form>
{% endblock %}
