{% extends "layout.html" %}
{% block title %}Problem{% endblock %}
{% block content %}
	<br>
	<div class="columns is-desktop is-centered" >
		<div class="column is-half" >
			<h1 class="title" >Problem</h1>
		</div>
	</div>
	<br>
	<div class="columns is-desktop is-centered" >
		<div class="column is-half" >
			<div class="box" >
				<article class="media" >
					<div class="media-content" >
						<div class="content" >
							<p>
								<p><strong>Title:  </strong>{{ problem.title }}</p>
								<p><strong>Description:  </strong> {{ problem.description }}</p>
								<p><strong>Building:  </strong>{{ build }}</p>
								<p><strong>Seen number:  </strong>{{ problem.n_seen }}</p>
								<p><strong>Report Date:  </strong>{{dates[0]}}</p>
								<p><strong>Ended Date:  </strong>{{dates[1]}}</p>
							</p>
						</div>
					</div>
				</article>
			</div>
			{% if current_user.is_student and not e_problem %}
				<div class="field is-grouped" >
					<div class="control" >
						<a class="button is-primary is-outlined"
						   href="{{ request.path }}/edit" >Edit</a>
					</div>
				</div>
			{% endif %}
		</div>
	</div>
{% endblock %}

