{% extends "layout.html" %}
{% block title %}Problems{% endblock %}
{% block content %}
	<h1 class="title">Problems</h1>

	{% if problems %}
		<form action="" method="post" name="problem_list" >
			<table class="table is-striped is-fullwidth" >
				{% for problem_key, problem in problems %}
					<tr>
						<td>
							<label class="checkbox" >
								<input type="checkbox" name="problem_keys"  value="{{ problem_key }}"/>
							</label>
							<a href="{{ url_for('problem_page', problem_key=problem_key) }}">
								{{ problem.title }}
							</a>
						</td>
						<td>
							<div class="field is-grouped" >
								<div class="control" >
									<a class="button is-link" href="{{ request.path }}/{{problem_key}}">
										Detail</a>
								</div>

								<div class="control" >
									<a class="button is-primary" href="{{ request.path }}/{{problem_key}}/editn">
										Edit</a>
								</div>
								<div class="control" >
									<a class="button is-danger" href="{{ request.path }}/{{problem_key}}/delete">
										Delete</a>
								</div>
							</div>
						</td>
					</tr>
				{% endfor %}
			</table>

			<div class="field is-grouped" >
				<div class="control" >
					<button class="button is-danger" >Delete</button>
				</div>
			</div>
		</form>
	{% endif %}
{% endblock %}
