{% extends "layout.html" %}
{% block title %}Edit Student{% endblock %}
{% block content %}
	<br>
	<div class="columns is-desktop is-centered">
		<div class="column is-half" >
			<h1 class="title" >Student Sign up</h1>
		</div>
	</div>
	<div class="columns is-desktop is-centered" >
		<div class="column is-half" >
			<form action="" method="post" name="student_edit" >
				<div class="field" >
					<label for="first_name" class="label" >First Name</label>
					<div class="control" >
						<input type="text" name="first_name" class="input" required="required"
							   value="{{ values['first_name'] }}" />
					</div>
				</div>

				<div class="field" >
					<label for="last_name" class="label" >Last Name</label>
					<div class="control" >
						<input type="text" name="last_name" class="input" required="required"
							   value="{{ values['last_name'] }}" />
					</div>
				</div>

				<div class="field" >
					<label for="email" class="label" >Email</label>
					<div class="control" >
						<input type="text" name="email" class="input" required="required"
							   value="{{ values['email'] }}" />
					</div>
				</div>

				<div class="field" >
					<label for="password" class="label" >Password</label>
					<div class="control" >
						<input type="text" name="password" class="input" required="required"
							   value="{{ values['password'] }}" />
					</div>
				</div>
				
				<div class="field is-grouped" >
					<div class="control" >
						<button class="button is-link" >Sign up</button>
					</div>
					<div class="control" >
						<a class="button is-light" href="{{ url_for('home_page')}}">
							Cancel</a>
					</div>
				</div>
			</form>
		</div>
	</div>
{% endblock %}
