{% extends "layout.html" %}
{% block title %}Edit Student{% endblock %}
{% block content %}
	<br>
	<div class="columns is-desktop is-centered">
		<div class="column is-one-quarter" >
			<h1 class="title" >Student Sign up</h1>
		</div>
	</div>
	<div class="columns is-desktop is-centered" >
		<div class="column is-one-quarter" >
			<form action="" method="post" name="student_edit" >
				<div class="field" >
					<label for="first_name" class="label" >First Name</label>
					<div class="control" >
						<input type="text" name="first_name" class="input" required="required"
							   value="{{ values['first_name'] }}" />
					</div>
				</div>

				<div class="field" >
					<label for="last_name" class="label" >Last Name</label>
					<div class="control" >
						<input type="text" name="last_name" class="input" required="required"
							   value="{{ values['last_name'] }}" />
					</div>
				</div>

				<div class="field" >
					<label for="email" class="label" >Email</label>
					<div class="control" >
						<input type="text" name="email" class="input" required="required"
							   value="{{ values['email'] }}" />
					</div>
				</div>

				<div class="field" >
					<label for="password" class="label" >Password</label>
					<div class="control" >
						<input type="password" name="password" class="input" required="required"
							   value="{{ values['password'] }}" />
					</div>
				</div>

				<!-- 
					 <div class="field" >
					 <label for="faculty" class="label" >Faculty</label>
					 <div class="control" >
					 <input type="text" name="faculty" class="input" required="required"
					 value="" />
					 </div>
					 </div>
				-->
				<div clas="field" >
					<label for="faculty" class="label" >Faculty</label>
					<div class="control" >
						<div class="select" >
							<select name="faculty" required="required">
								<option value="Faculty of Civil Engineering" >Faculty of Civil Engineering</option>
								<option value="Faculty of Architecture" >Faculty of Architecture</option>
								<option value="Faculty of Mechanical Engineering" >Faculty of Mechanical Engineering</option>
								<option value="Faculty of Electrical and Electronics" >Faculty of Electrical and Electronics</option>
								<option value="Maritime Faculty" >Maritime Faculty</option>
								<option value="Chemical-Metallurgical Engineering Faculty" >Chemical-Metallurgical Engineering Faculty</option>
								<option value="Faculty of Management" >Faculty of Management</option>
								<option value="Faculty of Aeronautics and Astronautics" >Faculty of Aeronautics and Astronautics</option>
								<option value="Faculty of Texttile Technologies and Design" >Faculty of Textile Technologies and Design</option>
								<option value="Faculty of Mine">Faculty of Mine</option>
								<option value="Faculty of Naval Architecture and Marine Science" >Faculty of Naval Architecture and Marine Science</option>
								<option value="Faculty of Computer and Informatics" >Faculty of Computer and Informatics</option>
								<option value="Faculty of Science and Letter" >Faculty of Science and Letters</option>
							</select>
						</div>
					</div>
				</div>

				<div class="field" >
					<label for="s_question" class="label" >What is your favorite color</label>
					<div class="control" >
						<input type="text" name="s_question" class="input" required="required"
							   value="{{ values['s_question'] }}" />
					</div>
				</div>

				<div class="field is-grouped" >
					<div class="control" >
						<button class="button is-link" >Sign up</button>
					</div>
					<div class="control" >
						<a class="button is-light" href="{{ url_for('home_page')}}">
							Cancel</a>
					</div>
				</div>
			</form>
		</div>
	</div>
{% endblock %}
